<!DOCTYPE html>
<html>
<head>
	{{> meta}}
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		{{> header}}
	</nav>

	<div class="main-wrapper">
			<div class="sidebar-container col-xs-3">
					<!--div class="sidebar-header">
							<form class="form-inline">
									<input type="text" name="search" class="form-control" placeholder="Search"/>
							</form>
					</div-->
					<div class="sidebar" style="height: 100%; margin: .5em">
							<nav>
								{{#each (lookup collections lookupCollection)}}
									<ul class="nav nav-stacked nav-pills">
									{{#each data}}
										{{#if module}}
											<br/><a href="#_{{@key}}">{{@key}}</a><br/>
										{{else}}
											<a href="#_{{@key}}">&nbsp;&nbsp;{{@key}}</a><br/>
										{{/if}}
									{{/each}}
									</ul>
								{{/each}}
								<br/><br/>
							</nav>
					</div>
			</div>
			<div class="container main-view col-xs-9 pull-right">
				<div style="padding: .75em">
					<h1>{{title}}</h1>
					{{{ contents }}}

					{{#each (lookup collections lookupCollection)}}
						{{#each data}}
							{{#if module}}
								<h2 id="_{{@key}}">{{@key}}</h2>
								{{md module}}
							{{else}}
								<h3 id="_{{@key}}">{{@key}}</h3>
								<div class="command">
									{{md description}}

									{{#if properties}}
									<p style="margin-top: 1em"><b>Properties:</b></p>
									{{> schemaPropertyTable . }}
									{{/if}}

									{{#if oneOf}}
									Must be one of:
									<ul>
										{{#each oneOf}}<li>{{this}}</li>{{/each}}
									</ul>
									{{/if}}

									{{#if definitions}}
									<p style="margin-top: 1em"><b>Definitions:</b></p>
									{{#each definitions}}
										<h4 id="_{{@key}}">{{@key}}</h4>
										{{> schemaPropertyTable . }}
									{{/each}}
									{{/if}}

									{{#if example}}
										<b>Example:</b>

										{{md example}}
									{{/if}}
								</div>
							{{/if}}
						{{/each}}
					{{/each}}
				</div>
			</div>

	</div>

</body>
</html>
