<!DOCTYPE html>
<html>
<head>
	{{> meta}}
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		{{> header}}
	</nav>

	<div class="main-wrapper">
			<div class="sidebar-container col-xs-3">
					<!--div class="sidebar-header">
							<form class="form-inline">
									<input type="text" name="search" class="form-control" placeholder="Search"/>
							</form>
					</div-->
					<div class="sidebar" style="height: 100%; margin: .5em">
							<nav>
								{{#each collections.commands}}
									<ul class="nav nav-stacked nav-pills">
									{{#each data}}
										{{#if module}}
											<br/><a href="#_{{@key}}">{{@key}}</a><br/>
										{{else}}
											<a href="#_{{@key}}">&nbsp;&nbsp;{{@key}}</a><br/>
										{{/if}}
									{{/each}}
									</ul>
								{{/each}}
								<br/><br/>
							</nav>
					</div>
			</div>
			<div class="container main-view col-xs-9 pull-right">
				<div style="padding: .75em">
					<h1>{{title}}</h1>
					{{{ contents }}}

					{{#each collections.commands}}
						{{#each data}}
							{{#if module}}
								<h2 id="_{{@key}}">{{@key}}</h2>
								{{md module}}
							{{else}}
								<h3 id="_{{@key}}">{{@key}}</h3>
								<div class="command">
									{{md description}}

									{{#if properties}}
									<p style="margin-top: 1em"><b>Properties:</b></p>

									<table class="table table-striped table-hover table-condensed">
										<tr><th>Name</th><th>Type</th><th>Argument</th><th>Description</th></tr>
										{{#each properties}}
											<tr>
												<td>{{@key}}</td>
												<td>{{type}}</td>
												<td>{{required}}</td>
												<td>{{md description}}{{#if enum}}One of: {{enum}}{{/if}}</td>
											</tr>
											{{#each properties}}
												<tr>
													<td>&nbsp;&nbsp;{{@key}}</td>
													<td>{{type}}</td>
													<td>{{required}}</td>
													<td>{{md description}}</td>
												</tr>
											{{/each}}
										{{/each}}
									</table>
									{{/if}}

									{{#if example}}
										<b>Example:</b>

										{{md example}}
									{{/if}}
								</div>
							{{/if}}
						{{/each}}
					{{/each}}
				</div>
			</div>

	</div>

</body>
</html>
