*~
*.swp
*.esc
# sbt
target/
project/boot/
# Eclipse
.metadata
.classpath
.project
.scala_dependencies
org.scala-ide.sdt.core.prefs
# Other
.cache
.history
PipetteScheduler.txt
locations.txt
TodoRoboliq.pdf
NotesRoboliq.pdf
old
eclimd.log
