preload:
  - src/config/ourlab.js
args: ["--progress", "--print-designs"]
args0: ["--progress", "--print-designs", "-P", 'C:\ProgramData\Tecan\EVOware\database\scripts\Ellis\EvowareScripts', "--evoware", "../testdata/bsse-mario/Carrier.cfg,../testdata/bsse-mario/NewLayout_Feb2015.ewt,ourlab.mario.evoware"]

